.map__headline-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 0 0 15px;
}
.map__headline-wrapper::after {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #CC2020;
}
.map__headline-h {
  font-size: 42px;
  height: 55px;
  translate: 0 10%;
}
.map__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: auto 0;
}
.map__img {
  width: 100%;
  max-width: 70%;
}
.map__text {
  width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* height: 100%; */
    background-color: #1d1a1f;
    box-sizing: border-box;
    padding: 15px 25px;
    text-align: left;
    border-radius: 0 12px 12px 0;
}
.map__text-ul {
  flex-direction: column;
  gap: 10px;
  margin: auto 0;
}
.map__text-ul-li {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .map__wrapper {
    flex-direction: column;
  }
  .map__img {
    max-width: 100%;
  }
  .map__text {
    width: 100%;
    border-radius: 0px;
  }
}

@media screen and (max-width: 540px) {
  .map__headline-h {
    font-size: 28px;
    height: 100%;
  }
}