.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 30px; */
    padding: 10px 10%;
    box-sizing: border-box;
    /* position: sticky; */
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.75);
}

.header__img {
    max-width: 120px;
}

.header__ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    color: white;
    margin: 0;
}

@media screen and (max-width: 540px) {
    .header__ul {
        display: none;
    }
}