.offer {
  background-image: url('./assets/the-ultimate-guide-to-buying-micropone-for-recording-studio.png');
  background-size: cover;
}

.offer__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.offer__text-headline-wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 0 0 0 15px;
}

.offer__text-headline-wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #CC2020;
  content: "";
}

.offer__text-headline {
  font-size: 42px;
  height: 55px;
  translate: 0 10%;
  /* max-width: 360px; */
  margin: 0;
}

.offer__text-p {
  margin: 0;
  /* font-weight: 700; */
  /* max-width: 420px; */
}

.offer__text-p-span {
  /* color: #CC2020; */
  color: #59e285;
}

.offer__p {
  max-width: 420px;
  text-align: left;
  line-height: 1.8;
  color: #d3d3d3;
}

.offer__benefits {
  margin: 50px 0;
  backdrop-filter: blur(2px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 240px));
  gap: 15px;
}

.offer__benefits-li {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  border: 2px solid #CC2020;
  box-sizing: border-box;
  padding: 10%;
  text-align: left;
}

.offer__benefits-li-h {
  width: 100%;
}

.offer__benefits-li-div {
  width: 25px;
    height: 5px;
    background-color: #f46724;
    align-self: flex-start;
    margin: 10px 0;
    border-radius: 5px;
}

.offer__benefits-li-p {
  margin: 0 0 auto 0;
}

.offer__images {
  display: flex;
  /* justify-content: flex-start; */
  justify-content: space-between;
  /* align-items: flex-end; */
  align-items: center;
  margin: auto 0 0 0;
}

.offer__images-qoute {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 360px;
  min-height: 90px;
  position: relative;
  z-index: 3;
  margin: 0 0 25px 0;
}

.offer__images-qoute-svg {
  align-self: flex-end;
}

.offer__images-qoute-svg:nth-of-type(2n) {
  align-self: flex-start;
}

.offer__images-qoute-p {
  margin: 0 10px;
  font-size: 20px;
}

.offer__images-qoute-p-span {
  color: #CC2020;
  font-size: 20px;
}

.offer__ul {
  /* max-width: 360px; */
}

.offer__ul-li {
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.offer__ul-li-p {
  margin: 0;
  text-align: left;
}
.offer__ul-li-p:last-of-type {
  height: 72px;
}

.offer__ul-li-div {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: #CC2020;
}

.offer__img {
  max-width: 768px;
  position: relative;
  z-index: -1;
  translate: -5% -5%;
}

.offer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* z-index: 3; */
  background-image: linear-gradient(180deg, transparent 65%, black 90%);
}

@media screen and (max-width: 1279px) {
  .offer__images {
    flex-direction: column;
  }
  .offer__images-qoute {
    align-self: flex-start;
    margin: 0 0 50px 0;
  }
  .offer__ul {
    align-self: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .offer__text-headline {
    font-size: 36px;
    height: 55px;
    text-align: left;
  }
}

@media screen and (max-width: 540px) {
  .offer__text-headline {
    font-size: 28px;
    /* height: 40px; */
    height: 100%;
  }
  .offer__benefits {
    margin: 50px auto;
  }
  .offer__ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .offer__images {
    margin: auto 0;
  }
  .offer__ul-li {
    align-items: center;
  }
  .offer__ul-li-p {
    text-align: center;
  }
}