.students__categories {
    max-width: 540px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
}
.students__categories-li {
    color: rgb(183, 183, 183);
}
.active_state {
    color: #F9B233;
}
.students__ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 160px));
    grid-auto-rows: minmax(120px, 160px);
    gap: 25px;
    margin: 25px 0 0 0;
}
.students__ul-li {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.students__ul-li-headline, .students__ul-li-p {
    margin: 0;
}
.students__ul-li-p {
    letter-spacing: 2px;
    margin: auto 0;
}
.students__ul-btn {
    font-size: 14px;
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
}
.students__selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.students__selected-content-wrapper-img {
    max-width: 240px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 540px) {
    .students__categories-li {
        font-size: 14px;
    }
    .students__categories-li-svg {
        max-width: 20px;
    }
    .students__ul {
        grid-template-columns: repeat(auto-fit, minmax(120px, 180px));
        grid-auto-rows: minmax(120px, 180px);
        justify-content: center;
    }
}