.teachers__headline {
  font-size: 42px;
}
.teachers__ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: stretch;
  gap: 20px;
  margin: 25px 0 0 0;
}

.teachers__ul-li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: left;
}

.teachers__ul-li-img {
  width: 100%;
  aspect-ratio: 1/1;
  /* aspect-ratio: 0.5; */
  object-fit: cover;
  border-radius: 4px;
}

.teachers__ul-li-headline {
  margin: 15px 0 0 0;
  font-size: 20px;
}

.teachers__ul-li-p {
  margin: 15px 0 0 0;
}

@media screen and (max-width: 767px) {
  .teachers__headline  {
    font-size: 36px;
  }
}

@media screen and (max-width: 540px) {
  .teachers__headline  {
    font-size: 28px;
  }
  /* .students__categories-li {
      font-size: 14px;
  }
  .students__categories-li-svg {
      max-width: 20px;
  } */
}