@keyframes scrollAnimation {
    0% {
        transform: translateY(-15px);
        /* scale: 1.2; */
        /* translate: 0 -50px, */
    }
    100% {
        transform: translate(0px);
        /* scale: 1; */
        /* translate: 0 0; */
    }
}
.welcome {
    height: 85vh;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #DD833D; */
    box-sizing: border-box;
    /* padding: 0 10%; */
    /* background-image: linear-gradient(to right, #f0922e, #f09e2a, #f0aa27, #eeb626, #ebc228); */
    /* background-image: linear-gradient(to bottom, #ebc228, #eeb626, #f0aa27, #f09e2a, #f0922e); */

    /* background-image: linear-gradient(to bottom, #ebc228, #eeb626, #f0aa27, #f09e2a, #e78114); */

    /* position: relative; */
    /* width: 100%;
    /* height: 100vh; */
    /* background-image: linear-gradient(120deg, #F9B233 25%, black 25%);
    color: white; */
}
.welcome__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    /* z-index: -1; */
}
.container-welcome {
    width: 100%;
    max-width: 720px;
    text-align: left;
    /* height: 100%; */
}

.welcome__content {
    /* padding: 0 10%; */
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.welcome__content-text {
    position: absolute;
    top: 10%;
    /* margin: auto 0 0 0; */
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.welcome__content-headline {
    /* font-size: 54px;
    margin: 0; */
    color: white;
    max-width: 768px;
    margin: 0 auto;
    font-size: 42px;
    /* color: #CC2020; */
}

.welcome__content-p {
    font-size: 20px;
    font-weight: 700;
    max-width: 768px;
    margin: 15px auto 0 auto;
    /* margin: 25px 0 0 0; */
}

.welcome__content-btn {
    background-color: transparent;
    color: white;

    border-radius: 16px;
    border: 3px solid #646cff;
    width: 300px;

    font-size: 16px;
    font-weight: bold;
    margin: 15px auto 0 auto;

    padding: 10px 15px;
    box-sizing: border-box;
    pointer-events: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.welcome__content-btn:hover {
    scale: 1.05;
    background-color: #646cff;
    color: white;
    /* border: 3px solid white; */
}

.welcome__content-btn-svg {
    width: 35px;
}

.welcome__content-svg {
    /* margin: 0 0 25px 0; */
    animation: scrollAnimation 1s ease-in-out infinite alternate;
    align-self: center;
}

.welcome__hint {
    background-color: #BEE0E9;
    border-radius: 16px;
    color: black;
    padding: 15px 20px;
    position: absolute;
    bottom: 0%;
    transform: translate3d(calc(50vw - 50%), 0, 0);
}

@media screen and (max-width: 1439px) {
    .welcome {
        height: 95vh;
        padding: 5% 0;
    }
    /* .welcome {
        padding: 10%;
    } */
    /* .welcome__content-headline {
        font-size: 42px;
    } */
    .welcome__content-p {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .welcome__content-headline {
        font-size: 32px;
        max-width: 540px;
    }
    .welcome__content-p {
        max-width: 540px;
    }
}

@media screen and (max-width: 540px) {
    .welcome__content-headline {
        font-size: 26px;
        max-width: 300px;
        margin: 0 auto;
    }
    .welcome__content-p {
        max-width: 300px;
        margin: 15px auto;
    }
    .welcome__content-btn {
        margin: auto;
    }
}